# R project files and settings
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Compressed data files
*.gz

# A4LEARN package structure
A4LEARN/man/
A4LEARN/data/
A4LEARN/NAMESPACE
A4LEARN/R/
A4LEARN/.Rbuildignore

# Source Dataset
A4LEARN-20240917/

# Rendering outputs
*.html